$box-hover-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
$box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
    rgba(0, 0, 0, 0.2) 0px -3px 0px inset;

* {
    box-sizing: border-box;
    font-family: 'KaiTi';
    transition: all 0.4s;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

.box {
    width: 100%;
    height: 100%;
}

.banner {
    width: 60%;
    min-width: 700px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 10px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: $box-shadow;
    border: 2px solid rgb(52, 137, 235);

    h1 {
        color: rgb(52, 137, 235);
        text-shadow: -2px -2px #444;
        font-size: 40px;
        font-weight: 900;
        margin-bottom: 0;
    }

    p {
        text-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
        font-size: 14px;
        color: #999;
        margin: 10px 0;

        a,
        span {
            color: rgb(52, 137, 235);
            font-weight: 900;

            &:hover {
                color: rgb(52, 137, 235);
                text-decoration: underline;
                text-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
                font-size: 16px;
            }
        }

        span {
            text-decoration: none !important;
            font-size: 14px !important;
        }
    }

    .main {
        width: 100%;
        display: flex;
        justify-content: start;
    }

    .show {
        width: 100%;
        height: 500px;
        margin: 10px;
        border: 2px solid rgb(52, 137, 235);
        border-radius: 15px;
        box-shadow: $box-shadow;
        overflow: hidden;

        &:hover {
            box-shadow: $box-hover-shadow;
            border-radius: 25px;
        }
    }

    .table {
        border-radius: 15px;
        width: 100%;
        margin-top: 20px;
        box-shadow: $box-shadow;
        border: 2px solid rgb(52, 137, 235);

        &:hover {
            box-shadow: $box-hover-shadow;
            border-radius: 25px;
        }

        .state_bt {
            padding: 9px;
            width: 100%;
            height: 100%;
        }
    }

    :deep(.el-table thead) {
        color: rgb(52, 137, 235);
    }
}

.send_bt {
    width: 100%;
    height: 50px;
    margin-top: 20px;
    border-radius: 15px;
    border: 2px solid rgb(52, 137, 235);
    font-size: 20px;
    font-weight: bold;
    box-shadow: $box-shadow;
    transition: all 0.3s ease-in-out;

    &:hover {
        box-shadow: $box-hover-shadow;
        border-radius: 20px;
    }
}

.upload_bt,
.delete_bt {
    padding: 10px;
    box-shadow: $box-shadow;

    &:hover {
        box-shadow: $box-hover-shadow;
        border-radius: 10px;
    }
}

.fixed {
    margin-bottom: 0;
}