$box-hover-shadow:
  rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
  rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
  rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
$box-shadow:
  rgba(0, 0, 0, 0.4) 0px 2px 4px,
  rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
  rgba(0, 0, 0, 0.2) 0px -3px 0px inset;

* {
  box-sizing: border-box;
  font-family: 'KaiTi';
  transition: all 0.4s;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  overflow-y: scroll;
  width: 100% !important;
}
#el-id-3007-0::-webkit-scrollbar {
  width: 0 !important;
}

#el-id-3007-0 {
  -ms-overflow-style: none;
}

#el-id-3007-0 {
  overflow: -moz-scrollbars-none;
}

body::-webkit-scrollbar {
  width: 0 !important;
}

body {
  -ms-overflow-style: none;
}

body {
  overflow: -moz-scrollbars-none;
}

.box {
  width: 100%;
  height: 100%;
}

.banner {
  width: 60%;
  min-width: 700px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 10px auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: $box-shadow;
  border: 2px solid rgb(52, 137, 235);

  h1 {
    color: rgb(52, 137, 235);
    text-shadow: -2px -2px #444;
    font-size: 40px;
    font-weight: 900;
    margin-bottom: 0;
  }

  p {
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    font-size: 14px;
    color: #999;
    margin: 10px 0;

    a,
    span {
      color: rgb(52, 137, 235);
      font-weight: 900;

      &:hover {
        color: rgb(52, 137, 235);
        text-decoration: underline;
        text-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
        font-size: 16px;
      }
    }

    span {
      text-decoration: none !important;
      font-size: 14px !important;
    }
  }

  .main {
    width: 100%;
    display: flex;
    justify-content: space-around;
  }

  .show {
    width: 100%;
    height: 500px;
    margin: 10px;
    border: 2px solid rgb(52, 137, 235);
    border-radius: 15px;
    box-shadow: $box-shadow;
    overflow: hidden;
    overflow-y: auto;

    &:hover {
      box-shadow: $box-hover-shadow;
      border-radius: 25px;
    }
  }

  .table {
    border-radius: 15px;
    width: 100%;
    margin-top: 20px;
    box-shadow: $box-shadow;
    border: 2px solid rgb(52, 137, 235);

    &:hover {
      box-shadow: $box-hover-shadow;
      border-radius: 25px;
    }

    .state_bt {
      padding: 9px;
      width: 100%;
      height: 100%;
    }
  }

  :deep(.el-table thead) {
    color: rgb(52, 137, 235);
  }
}

.send_bt {
  width: 100%;
  height: 50px;
  margin-top: 20px;
  border-radius: 15px;
  border: 2px solid rgb(52, 137, 235);
  font-size: 20px;
  font-weight: bold;
  box-shadow: $box-shadow;
  transition: all 0.3s ease-in-out;

  &:hover {
    box-shadow: $box-hover-shadow;
    border-radius: 20px;
  }
}

.upload_bt,
.delete_bt,
.inner_bt {
  padding: 10px;
  box-shadow: $box-shadow;

  &:hover {
    box-shadow: $box-hover-shadow;
    border-radius: 10px;
  }
}

.fixed {
  margin-bottom: 0;
}

.p_text {
  font-size: 20px;
  font-weight: bold;
  color: rgb(52, 137, 235);
  margin-bottom: 20px;
}

.login {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .el-form {
    width: 50%;
    margin: 0 auto;

    .el-input__wrapper {
      border-radius: 10px !important;
      overflow: hidden;
    }
  }

  .bt {
    width: 50%;
    display: flex;
    justify-content: space-around;

    .inner_bt {
      width: 40%;
    }
  }
}

.el-drawer {
  user-select: none;
  width: 60% !important;
  min-width: 700px;
  margin: 0 auto;
  border-radius: 10px;
  box-shadow: $box-shadow;
  border: 2px solid rgb(52, 137, 235);

  &:hover {
    box-shadow: $box-hover-shadow;
    border-radius: 25px;
  }
}

.el-drawer__title {
  font-weight: 700;
  font-size: 20px !important;
  color: rgb(52, 137, 235);
}

.el-form-item__label {
  font-weight: 700;
  color: rgb(52, 137, 235) !important;
}

.ql-editor {
  h1,
  h2,
  h3 {
    font-weight: normal;
    color: black;
    text-shadow: none;
  }

  p {
    font-weight: normal;
    color: black;
  }
}

.subject {
  width: 100% !important;
  height: 5vh !important;
  margin-top: 10px;
  border: 2px solid rgb(52, 137, 235);
  border-radius: 20px;
  box-shadow: $box-shadow;
  transition: all 0.3s ease-in-out;
  overflow: hidden;

  &:hover {
    box-shadow: $box-hover-shadow;
    border-radius: 25px !important;
  }

  .el-input__inner {
    border: none;
    height: 100%;
    border-radius: 25px;
    padding-left: 2vw;
  }
}
.operation {
  display: flex;
  justify-content: space-between;
}

/* 整个滚动条 */
::-webkit-scrollbar {
  width: 0px; /* 垂直滚动条的宽度 */
  height: 12px; /* 水平滚动条的高度 */
}

/* 滚动条轨道 */
::-webkit-scrollbar-track {
  background: #f1f1f1; /* 轨道背景色 */
  border-radius: 6px; /* 圆角 */
}

/* 滚动条滑块 */
::-webkit-scrollbar-thumb {
  background: #888; /* 滑块颜色 */
  border-radius: 6px; /* 圆角 */
  border: 3px solid #f1f1f1; /* 滑块边框 */
}

/* 滚动条滑块悬停效果 */
::-webkit-scrollbar-thumb:hover {
  background: #555; /* 悬停时滑块颜色 */
}
